/* DECLARING VARIABLES */
:root {
    --border: 2px solid black;
    --font: 'Kanit', sans-serif;
}

/* ELEMENT SELECTORS */
html, body {
    max-width: 100vw;
}

h1 {
    font-family: var(--font);
    font-size: 300%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 55px;
    border-bottom: var(--border);
}

section {
    margin: 30px 10px 0 10px;
    height: 200px;
    border: var(--border);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 10px 0 10px;
    padding: 20px 0;
    border: var(--border);
}

table,
td {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 20px 10px 0 10px;
    border: var(--border);
}

td {
    margin-bottom: 20px;
    border: none;
}

/* CLASS SELECTORS */
.filler-img-container {
    display: none;
}

.about-info-wrapper {
    margin: 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: none;
}

.zipcode-input,
.schedule-button {
    border: var(--border);
    width: 100%;
    height: 30px;
}

.schedule-button {
    margin-top: 10px;
}

/* BUTTON HOVERS */

/* MEDIA QUERIES FOR DESKTOP */
@media all and (min-width: 862px) {
    header {
        justify-content: start;
    }

    h1 {
        margin-left: 15px;
    }

    form {
        margin-top: 30px;
    }

    section {
        width: 40%;
        height: 500px;
        float: left;
    }

    table {
        display: none;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        margin-left: 50px;
    }

    .filler-img-container {
        display: block;
        float: right;
        height: 420px;
        width: 50%;
    }
}