/* DECLARING VARIABLES */
:root {
    --border: 2px solid white;
    --border-black: 2px solid black;
    --text: white;
    --box-background: white;
    --font: 'Kanit', sans-serif;
    --credit-font: 'Hind', sans-serif;
    --button-hover: #6e6e6ea9;
    --nav-bg: #141211;
    --background: #7faad5;
    --transparent: rgba(255, 255, 255, 0);
}

* {
    font-family: var(--credit-font);
}

/* ELEMENT SELECTORS */
html, body {
    max-width: 100vw;
    background: var(--background);
}

h1 {
    font-family: var(--font);
    font-size: 300%;
    margin: 0;
    color: var(--text);
}

h2 {
    font-size: 120%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 55px;
    background: var(--nav-bg);
}

section {
    margin: 30px 20px 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 20px 0 20px;
    padding: 20px 0;
    background: var(--box-background);
}

table,
td {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 20px 20px 0 20px;
    border: var(--border);
    background: var(--box-background);
}

td {
    margin-bottom: 20px;
    border: none;
}

th {
    text-align: center;
}

li {
    margin: 0 15px;
}

input,
button {
    border: var(--border-black);
    border-radius: 5px;
}

button {
    font-weight: bold;
}

footer {
    height: 20px;
}

/* CLASS SELECTORS */

.about-info-wrapper {
    position: relative;
    background: var(--box-background);
    height: 100%;
    padding: 20px 80px;
}

.dev-wrapper,
.img-wrapper {
    display: none;
}

.start,
.about-info-wrapper > p,
h2 {
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.zipcode-input,
.schedule-button {
    border: var(--border-black);
    width: 100%;
    height: 30px;
    padding: 3px;
}

.schedule-button {
    margin-top: 10px;
}

.accordion,
.accordion-item,
.accordion-button {
    width: 250px;
    margin: 0;
    border: none;
    background: transparent;
    color: black;
}

.accordion-body {
    border-top: var(--border);
    text-align: center;
    color: var(--text);
}

.accordion-button {
    color: var(--text);
    height: 10px;
    font-size: 80%;
}

.address-input,
.address-button {
    width: 100%;
    margin-top: 5px;
    padding: 3px;
}

.fa-arrow-down {
    margin: 1px 0 0 15px;
}

.table-section,
.table-section2 {
    display: none;
    max-height: 100%;
}

.frame-container {
    height: 100%;
}

.search-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    background: var(--box-background);
    height: 100%;
    margin-top: 15px;
}

.append-table {
    margin: 0;
}

.p-2 {
    margin: 5px 0;
    padding: 5px 30px!important;
    text-align: center;
}

.d-flex {
    justify-content: center;
}

/* BUTTON HOVERS */
.address-button:hover,
.schedule-button:hover,
input:hover {
    background: var(--background);
}

input:focus {
    background: lightblue;
}

.accordion-button:hover,
.github-link:hover {
    text-decoration: underline;
}

.github-link:hover {
    text-decoration-color: black;
}

.accordion-button:focus,
.accordion-button:hover,
.accordion-button:active,
.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--text);
}

/* MEDIA QUERIES FOR DESKTOP */

@media all and (min-width: 862px) {

    header {
        justify-content: start;
        height: 80px;
    }

    h1 {
        margin-left: 15px;
    }

    h3 {
        font-weight: bold;
        font-size: 130%;
        line-height: 30px;
        margin-top: 30px;
    }

    table {
        margin-top: 100px;
        display: none;
    }

    section {
        height: 100%;
        width: 70%;
        float: left;
        margin-top: 30px;
    }

    form {
        height: 200px;
        margin: 0;
        font-size: 80%;
        border: var(--border-black);
    }

    ul,
    li,
    a {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        margin-top: 60px;
        padding: 0;
        color: black;
    }
    
    img {
        width: 100%;
    }

    footer {
        height: 100px;
    }

    .dev-list {
        margin-top: 30px;
    }

    .img-wrapper {
        display: block;
        width: 100%;
        height: auto;
    }

    .body-wrapper {
        display: flex;
        flex-direction: row;
        max-height: 100%;
        padding: 0 5em;
    }

    .start-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 80px;
    }

    .right-wrapper {
        position: relative;
        width: 30%;
        float: right;
        margin-top: 30px;
    }

    .start-wrapper > p {
        font-weight: bold;
    }

    .start-zipcode {
        margin-top: 30px;
    }

    .about-info-wrapper {
        height: 100%;
        font-size: 130%;
        border: var(--border-black);
    }

    .dev-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: var(--box-background);
        height: 100%;
        margin-top: 100px;
        border: var(--border-black);
    }

    .dev-list {
        font-size: 120%;
    }

    .accordion-body {
        border: none;
        margin-top: 30px;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .form-accordion {
        width: 100%;
        margin: 0;
        float: left;
        border: none;
    }
    
}

@media all and (min-width: 1356px) {

    .body-wrapper {
        padding: 0 10em;
    }

    .dev-wrapper {
        height: 200px;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .form-accordion {
        width: 250px;
    }
}