/* * {
    color: white;
} */

/* DECLARING VARIABLES */
:root {
    --border: 2px solid white;
    --border-black: 2px solid black;
    --text: white;
    --font: 'Kanit', sans-serif;
    --credit-font: 'Hind', sans-serif;
    --button-hover: #6e6e6ea9;
    --nav-bg: #111214;
    --background: #212529;
    --transparent: rgba(255, 255, 255, 0);
}

/* ELEMENT SELECTORS */
html, body {
    max-width: 100vw;
    background: var(--background);
}

h1 {
    font-family: var(--font);
    font-size: 300%;
    margin: 0;
    color: var(--text);
}

h2 {
    font-size: 120%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 55px;
    background: var(--nav-bg);
}

section {
    margin: 30px 10px 0 10px;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 10px 0 10px;
    padding: 20px 0;
    border: var(--border);
    background: var(--text);
}

table,
td {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 20px 10px 0 10px;
    border: var(--border);
}

td {
    margin-bottom: 20px;
    border: none;
}

li {
    margin: 0 15px;
}

input,
button {
    border: var(--border-black);
    border-radius: 5px;
}

button {
    font-weight: bold;
}

/* CLASS SELECTORS */
.filler-img-container {
    display: none;
}

.about-info-wrapper {
    background: var(--text);
    height: 350px;
    padding: 20px 80px;
    font-family: var(--credit-font);
}

.dev-wrapper {
    display: none;
}

.about-info-wrapper > p,
h2 {
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: none;
}

.zipcode-input,
.schedule-button {
    border: var(--border-black);
    width: 100%;
    height: 30px;
}

.schedule-button {
    margin-top: 10px;
}

.accordion,
.accordion-item,
.accordion-button {
    width: 250px;
    margin: 0;
    border: none;
    background: transparent;
}

.accordion-body {
    border-top: var(--border);
    text-align: center;
    color: var(--text);
}

.accordion-button {
    color: var(--text);
    height: 10px;
    font-size: 80%;
}

.address-input,
.address-button {
    width: 100%;
    margin-top: 5px;
}

/* BUTTON HOVERS */
.address-button:hover,
.schedule-button:hover,
input:hover {
    background: lightblue;
}

input:focus {
    background: rgb(157, 196, 209);
}

.accordion-button:hover,
.github-link:hover {
    text-decoration: underline;
}

.github-link:hover {
    text-decoration-color: black;
}

.accordion-button:focus,
.accordion-button:hover,
.accordion-button:active,
.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--text);
}

/* MEDIA QUERIES FOR DESKTOP */
@media all and (min-width: 862px) {

    header {
        justify-content: start;
    }

    h1 {
        margin-left: 15px;
    }

    h3 {
        font-weight: bold;
        font-size: 120%;
        line-height: 30px;
        margin-top: 30px;
    }

    table {
        display: none;
    }

    img {
        margin: 0 250px 250px;
    }

    section {
        flex: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
    }

    form {
        margin: 20px;
    }

    ul,
    li,
    a {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        margin-top: 60px;
        padding: 0;
        color: black;
    }

    .start-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 80px;
    }

    .start-wrapper > p {
        font-weight: bold;
    }

    .start-zipcode {
        margin-top: 30px;
    }

    .body-wrapper {
        display: flex;
        flex-direction: row;
    }

    .dev-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: var(--text);
        height: 200px;
        margin-top: 100px;
        font-family: var(--credit-font);
    }

    .dev-list {
        font-size: 120%;
    }

    .right-wrapper {
        flex: 40%;
    }

    .filler-img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .form-accordion {
        width: 250px;
        margin: 0;
        float: left;
        border: none;
    }
}