/* * {
    color: white;
} */

/* DECLARING VARIABLES */
:root {
    --border: 2px solid white;
    --border-black: 2px solid black;
    --font: 'Kanit', sans-serif;
    --button-hover: #6e6e6ea9;
    --nav-bg: #111214;
    --background: #212529;
    --transparent: rgba(255, 255, 255, 0);
}

/* ELEMENT SELECTORS */
html, body {
    max-width: 100vw;
    background: var(--background);
}

h1 {
    font-family: var(--font);
    font-size: 300%;
    margin: 0;
    color: white;
}

h2 {
    font-size: 120%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 55px;
    background: var(--nav-bg);
}

section {
    margin: 30px 10px 0 10px;
    height: 200px;
    border: var(--border);
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 10px 0 10px;
    padding: 20px 0;
    border: var(--border);
    background: white;
}

table,
td {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 20px 10px 0 10px;
    border: var(--border);
}

td {
    margin-bottom: 20px;
    border: none;
}

input,
button {
    border: var(--border-black);
    border-radius: 5px;
}

button {
    font-weight: bold;
}

/* CLASS SELECTORS */
.filler-img-container {
    display: none;
}

.about-info-wrapper {
    margin: 20px;
}

.about-info-wrapper > p,
h2 {
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: none;
}

.zipcode-input,
.schedule-button {
    border: var(--border-black);
    width: 100%;
    height: 30px;
}

.schedule-button {
    margin-top: 10px;
}

.accordion,
.accordion-item,
.accordion-button {
    width: 250px;
    margin: 0;
    border: none;
    background: transparent;
}

.accordion-body {
    border-top: var(--border);
    text-align: center;
    color: white;
}

.accordion-button {
    color: white;
    height: 10px;
    font-size: 80%;
}

.address-input,
.address-button {
    width: 100%;
    margin-top: 5px;
}

/* BUTTON HOVERS */
.address-button:hover,
.schedule-button:hover,
input:hover {
    background: lightblue;
}

input:focus {
    background: rgb(157, 196, 209);
}

.accordion-button:focus,
.accordion-button:hover,
.accordion-button:active,
.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    background: transparent;
    border: none;
    box-shadow: none;
    color: white;
}

/* MEDIA QUERIES FOR DESKTOP */
@media all and (min-width: 862px) {
    header {
        justify-content: start;
    }

    h1 {
        margin-left: 15px;
    }

    form {
        margin-top: 30px;
    }

    section {
        width: 40%;
        height: 500px;
        float: left;
    }

    table {
        display: none;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        margin-left: 50px;
    }

    .filler-img-container {
        display: block;
        float: right;
        height: 420px;
        width: 50%;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .form-accordion {
        width: 250px;
        margin: 0;
        float: left;
        border: none;
    }
}