:root {
    --border: 2px solid black;
}

* {
    max-width: 100vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    border-bottom: var(--border);
}

section {
    margin: 30px 10px 0 10px;
    height: 200px;
    border: var(--border);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 10px 0 10px;
    border: var(--border);
}

table,
td {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px 0 10px;
    border: var(--border);
}

td {
    border: none;
    margin-bottom: 20px;
}